.title--header {
    position: relative;
    background: #000000
}
.title--header h2, .title--header h1 {
    text-align: center;
    overflow: hidden;
    color: #fff;
    font: 16px/32px 'Roboto', sans-serif;
    padding: 30px 0;
    text-transform: uppercase;
}
.title--header h1 {
    font: 30px'Roboto', sans-serif;
    padding: 0;
    padding-top: 50px;
}
.title--header a {
    position: absolute;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    top: 1rem;
    left: 1rem;
}
main {
    height: 500vh;
    background: rgb(58,134,255);
    background: linear-gradient(90deg, rgba(58,134,255,1) 0%, rgba(255,0,110,1) 100%);
    font-family: 'Poppins';
}

main section {
    width: 70%;
    margin: auto;
    color: white;
    padding-top: 2rem;
}
main section .header--tutorial {
    display: flex;
    justify-content: space-between;
}
main section .header--tutorial div{
    background-color: white;
    padding: 0.5rem;
}
main section h3 {
    font-family: 'Poppins';
}
.gameImage {
    width: 60%;
    margin: 2rem auto;
    
}
.gameImage img{
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,1);
}
main section + div {
    color: white;
    width: 70%;
    margin: auto;
}
/* stappen */

.stap h1 {
    text-transform: uppercase;
}
.stap p a {
    color: #FFBE0B;
}